.content{
  overflow: hidden;
  width: 100%;
  display: flex;
  right: 0;
  top: 0;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  position: relative;
  @media #{$tablet} {
    min-height: 100%;
    justify-content: center;
    position: absolute;
  }
}

.content-wrapper{
  color: #fff;
  font-weight: 300;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  @media #{$tablet} {
    margin: 5%;
    // margin-top: 15%;
    padding: 0;
    width: 40%;
  }
  h2{
    font-weight: 600;
    line-height: 1.2;
    margin: 30px 0;
    font-size: 18px;
    @media #{$tablet} {
      font-size: 23px;
    }
  }
  h3{
    line-height: 1.3;
    font-size: 15px;
    @media #{$tablet} {
      font-size: 18px;
    }
  }
}

.chrome{
  opacity: 0;
  margin: 0 auto;
  backface-visibility: hidden;
  transform: translateY(50%) translateZ(0);
  transition: transform 3s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 1s ease-out;
  &.loaded{
    opacity: 1;
    transform: translateY(0%);
  }
  @media #{$tablet} {
    width: 70vw;
    max-width: 900px;
  }
  img{
    display: block;
    width: 100%;
  }
}