.content{
  width: 100%;
  min-height: 100%;
  display: flex;
  right: 0;
  box-sizing: border-box;
  flex-direction: column;
  @media #{$tablet} {
    justify-content: center;
    align-items: center;
  }
}

.content-wrapper{
  color: #fff;
  font-weight: 300;
  margin: 20px;
  width: 90%;
  @media #{$tablet} {
    margin: 5%;
    width: 38%;
  }
  h2{
    font-weight: 600;
    line-height: 1.2;
    margin: 30px 0;
    font-size: 18px;
    @media #{$tablet} {
      font-size: 23px;
    }
  }
  h3{
    line-height: 1.3;
    font-size: 15px;
    @media #{$tablet} {
      font-size: 18px;
    }
  }
}